.terminal-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.terminal-window.hidden {
  display: none;
}

.terminal-window.active {
  display: block;
  z-index: 1;
}
