@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
